
@font-face{
	font-family: "vtf", serif;
	src: url("fonts/vtf-mixo.ttf") format("woff2");
}

/* Ostrich Sans */

@font-face {
	font-family: 'Ostrich Sans';
	src: local('☺'), url('fonts/ostrich-sans-black.woff') format('woff'), url('ostrich-sans-black.ttf') format('truetype'), url('ostrich-sans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: local('☺'), url('fonts/ostrich-sans-bold.woff') format('woff'), url('ostrich-sans-bold.ttf') format('truetype'), url('ostrich-sans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: local('☺'), url('fonts/ostrich-sans-regular.woff') format('woff'), url('ostrich-sans-regular.ttf') format('truetype'), url('ostrich-sans-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: local('☺'), url('fonts/ostrich-sans-light.woff') format('woff'), url('ostrich-sans-light.ttf') format('truetype'), url('ostrich-sans-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

/* Ostrich Sans Dashed */

@font-face {
	font-family: 'Ostrich Sans Dashed';
	src: local('☺'), url('fonts/ostrich-sans-dashed.woff') format('woff'), url('ostrich-sans-dashed.ttf') format('truetype'), url('ostrich-sans-dashed.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Rounded */

@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: local('☺'), url('fonts/ostrich-sans-rounded.woff') format('woff'), url('ostrich-sans-rounded.ttf') format('truetype'), url('ostrich-sans-rounded.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Inline */

@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('fonts/ostrich-sans-inline-regular.woff') format('woff');
}

.container{
	padding-left: 10%;
	padding-top: 5%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.flex-start{
	display: flex;
	width: 100%;
	margin: 20px 20px 0px 20px;
	justify-content: flex-start;
}

.flex-start{
	display: flex;
	width: 100%;
	margin: 20px 20px 0px 20px;
	justify-content: flex-end;
}

.space-between{
	justify-content: space-between;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.rotate-right{
	transform: rotate(5deg);
}

.rotate-left{
	transform: rotate(-5deg);
}

.marginn{
	margin: 2%;
}

.large{
	font-size: 60px;
	font-family: Ostrich Sans Inline;
	font-style: normal;
}

.normal{
	font-size: 30px;
	font-family: Ostrich Sans Rounded;
}

.small{
	font-size: 22px;
	font-family: Ostrich Sans Rounded;
}

.medium{
	font-size: 31px;
	font-family: Ostrich Sans Rounded;
}

.mediumx{
	font-size: 47px;
	font-family: Ostrich Sans Rounded;
}

.large-anton{
	font-size: 60px;
	font-style: bold;
	font-family: Anton;
}

.med-anton{
	font-size: 32px;
	font-style: bold;
	font-family: Anton;
}

.normal-anton{
	font-size: 20px;
	font-family: Anton;
}

.monoton{
	font-size: 100px;
	font-family: Monoton;
}

.small-anton{
	font-size: 15px;
	font-family: Anton;
}

.large-cody{
	font-size: 65px;
	font-style: bold;
	font-family: Codystar;
}

.normal-cody{
	font-size: 20px;
	font-family: Codystar;
}


.normal-Charmonman{
	font-family: Charmonman;
	font-size: 25px;
}

.normal-Raleway{
	font-family: Raleway;
	font-size: 15px;
}

.bold-Charmonman{
	font-family: Charmonman;
	font-size: 40;
	font-style: bold;
}

.bold-Raleway{
	font-family: Raleway;
	font-size: 40;
	font-style: bold;
}



.normal-lobster{
	font-family: lobster;
	font-weight: 400;
	font-size: 35px;
}

.big-lobster{
	font-family: lobster;
	font-weight: 400;
	font-size: 60px;
}

.bigger-Montserrat{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 35px;
}


.large-Montserrat{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 45px;
}

.box{
	border-width: 4px;
	border-style: solid;
}

.box-red{
	border-width: 4px;
	border-style: solid;
	border-color: red;
}

.padding{
	padding: 25px 50px 25px 50px
}

.button-green {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



.button-black {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-purple{
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-pink{
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-blue{
	background-color: #1E90FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-papayawhip{
	background-color: papayawhip;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-red {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.button-darkred {
    background-color: #8b0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-lightblue {
    background-color: #b0e0e6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.gradient{
  background: -webkit-linear-gradient(#c0c0c0, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bk{
  background: -webkit-linear-gradient(#000000, #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pink{
	background: -webkit-linear-gradient(#ffb6c1, #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red{
	background: -webkit-linear-gradient(#ff0000, #ffb6c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.darkred{
	color: #8b0000;
}

.pink{
	color: #c0c0c0;
}

.blend{
	mix-blend-mode: screen;
}

.black{
	background-color: black;
}

.background-rainbow{
  background-image: linear-gradient(to bottom right, #b0e0e6, #778899);
  padding-left: 1%;
  padding-right: 1%;
}

.lightblue{
	color: #b0e0e6;
}

.extralarge{
	font-size: 100px;
}

